

/* primary colour: #298776 */
/* secondary colour: #50C17F */
/* accent colour: #1D3548 */


html {
  /* 16px * 62.5% = 10px */
  font-size: 62.5%; 
}

body {
  /* 10px * 1.6rem = 16px */
  font-size: 1.6rem; 
  font-family: 'Poiret One', cursive;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'VT323', monospace;
  font-family: 'Press Start 2P', monospace;
  background: rgb(25, 53, 8); 
}

* {
  margin: 0;
  padding: 0;
}

img {
  /* height:auto will ensure the image's dimensions are consistent throughout its parent's varying width */
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  outline: none;
}

ul, 
ol, 
li {
  list-style: none;
}

input, 
button {
  border: none;
  box-shadow: none;
  background: none;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .App {
    height: 80vh;
  }
}