

/* primary colour: #298776 */
/* secondary colour: #50C17F */
/* accent colour: #1D3548 */


html {
  /* 16px * 62.5% = 10px */
  font-size: 62.5%; 
}

body {
  /* 10px * 1.6rem = 16px */
  font-size: 1.6rem; 
  font-family: 'Poiret One', cursive;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Press Start 2P', monospace;
  /* font-family: 'VT323', monospace; */
}

* {
  margin: 0;
  padding: 0;
}

img {
  /* height:auto will ensure the image's dimensions are consistent throughout its parent's varying width */
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  outline: none;
}

ul, 
ol, 
li {
  list-style: none;
}

input, 
button {
  border: none;
  box-shadow: none;
  background: none;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 500px;
  /* width: 70%; */
  margin: 0 auto;
  /* border: 3px solid #50C17F; */
  border-radius: 100px;
  animation: 2s ease-out infinite flicker;
  /* transform-style: preserve-3d; */
  /* transform: perspective(2500px) rotateY(35deg); */
    border: 3px solid rgb(25, 53, 8);
}

.App {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: rgb(25, 53, 8);
}



/* @keyframes flickerBorder {
  0% {
    border: 3px solid rgb(80, 193, 127);
  }
  10% {
    border: 3px solid rgba(80, 193, 127, 0.3);
  }
  15% {
    border: 3px solid rgba(80, 193, 127, 0.8);
  }
  50% {
    border: 3px solid rgba(80, 193, 127, 0.5);
  }
  55% {
    border: 3px solid rgba(80, 193, 127, 0.9);
  }
  95% {
    border: 3px solid rgba(80, 193, 127, 0.2);
  }
  100% {
    border: 3px solid rgb(80, 193, 127);
  }
} */

@keyframes flicker {
  0% {
    /* opacity: 1; */
    background-color: rgba(25, 53, 8, 1);
  }
  10% {
    /* opacity: 0.3; */
    background-color: rgba(25, 53, 8, 0.4);
  }
  12% {
    /* opacity: 1; */
    background-color: rgba(25, 53, 8, 1);
  }
  50% {
    /* opacity: 0.5; */
    background-color: rgba(25, 53, 8, 0.6);
  }
  53% {
    /* opacity: 1; */
    background-color: rgba(25, 53, 8, 1);
  }
  98% {
    /* opacity: 0.7; */
    background-color: rgba(25, 53, 8, 0.8);
  }
  100% {
    /* opacity: 1; */
    background-color: rgba(25, 53, 8, 1);
  }
}