

/* primary colour: #298776 */
/* secondary colour: #50C17F */
/* accent colour: #1D3548 */


html {
  /* 16px * 62.5% = 10px */
  font-size: 62.5%; 
}

body {
  /* 10px * 1.6rem = 16px */
  font-size: 1.6rem; 
  font-family: 'Poiret One', cursive;
  font-family: 'Hind Siliguri', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  /* height:auto will ensure the image's dimensions are consistent throughout its parent's varying width */
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  outline: none;
}

ul, 
ol, 
li {
  list-style: none;
}

input, 
button {
  border: none;
  box-shadow: none;
  background: none;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  border: 1px solid green;
  border-radius: 30px;
}

.App {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .preloader {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 100;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
}

.preloader img {
  width: 20%;
  max-width: 150px;
  animation: 800ms ease-out infinite loadermation;
  border-bottom: #50C17F;
}

@keyframes loadermation{
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.75);
  }
} */
