@font-face {
  font-family: 'VT323';
  src: local('VT323'), url(../assets/VT323/VT323-Regular.ttf) format('truetype');
}


.landingPage {
  position: relative;
}

.preloader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: rgb(25, 53, 8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader img {
  width: 20%;
  max-width: 150px;
  animation: 800ms ease-out infinite loadermation;
}

header {
  text-align: center;
  color: white;
}
main {
  /* I set an explicit height since the app will fit within the viewheight */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 5px;
}


h2 {
  font-family: monospace;
  margin: 20px;
  text-transform: lowercase;
}

.headImageContainer {
  width: 20%;
  margin: 0 auto;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.formInput {
  width: 70%;
  min-width: 200px;
  max-width: 600px;
  margin: 5px auto;
  padding: 2%;
  color: white;
  border: none;
  border-bottom: 5px solid white;
  font-family: monospace;
  font-size: 2rem;
  text-align: center;
}

.formButton {
  min-width: 200px;
  height:50px;
  color: white;
  border: 5px solid white;
  margin: 35px auto;
  font-family: monospace;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  font-weight: bold;
  font-family: 'Press Start 2P', monospace;
}

@keyframes loadermation{
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes flicker {
  0% {
    background-color: rgba(25, 53, 8, 1);
  }
  10% {
    background-color: rgba(25, 53, 8, 0.4);
  }
  12% {
    background-color: rgba(25, 53, 8, 1);
  }
  50% {
    background-color: rgba(25, 53, 8, 0.6);
  }
  53% {
    background-color: rgba(25, 53, 8, 1);
  }
  98% {
    background-color: rgba(25, 53, 8, 0.8);
  }
  100% {
    background-color: rgba(25, 53, 8, 1);
  }
}

@keyframes flickerBorder {
  0% {
    border: 10px dashed rgb(80, 193, 127);
  }
  10% {
    border: 10px solid rgba(80, 193, 127, 0.5);
  }
  20% {
    border: 10px dashed rgba(80, 193, 127, 1);
  }
  30% {
    border: 10px solid rgba(80, 193, 127, 0.5);
  }
  40% {
    border: 10px dashed rgba(80, 193, 127, 1);
  }
  50% {
    border: 10px solid rgba(80, 193, 127, 0.5);
  }
  60% {
    border: 10px dashed rgba(80, 193, 127, 1);
  }
  70% {
    border: 10px solid rgba(80, 193, 127, 0.5);
  }
  80% {
    border: 10px dashed rgba(80, 193, 127, 1);
  }
  90% {
    border: 10px solid rgba(80, 193, 127, 0.5);
  }
  100% {
    border: 10px dashed rgb(80, 193, 127);
  }
}