
.maze {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

canvas {
  margin: 20px;
}

.maze button {
  border: 2px solid pink;
  padding: 10px;
}