
.maze {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  margin: 20px;
  width: 100%;
}

.mazeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvasContainer {
  margin: 0 auto;
}

/* .maze button {
  border: 2px solid pink;
  padding: 10px;
} */

