
.maze {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mazeTitle {
  color: white;
  font-family: 'Press Start 2P', monospace;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  line-height: 3.5rem;
  margin-bottom: 10px;
  text-align: center;
  animation: textFlicker 5s infinite;
}

.mazeInstructions {
  color: white;
  font-size: 1rem;
  letter-spacing: 1.5px;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 10px;
}

canvas {
  width: 100%;
}

.mazeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.canvasContainer {
  margin: 0 auto;
}

.batman {
  width: 40px;
}

.hidden {
  display: none;
}

@keyframes textFlicker {
  0%, 14%, 16%, 29%, 31%, 49%, 51%, 79%, 81%, 100% {
    text-shadow:
      -0.1rem -0.1em 1rem #49ad0b,
      0.1rem 0.1rem 1rem #49ad0b,
      0 0 2rem #49ad0b,
      0 0 4rem #49ad0b,
      0 0 6rem #49ad0b,
      0 0 8rem #49ad0b,
      0 0 10rem #49ad0b;
  }

  15%, 30%, 50%, 80% {
  text-shadow: none;
  box-shadow: none;
  }
}
