
.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.resultContainer form {
  flex-direction: row;
  justify-content: center;
}

.resultContent {
  padding: 20px;
  background: rgb(59, 57, 57);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  max-width: 700px;
  margin-bottom: 20px;
}

.resultUserName {
  font-size: 3rem;
  margin-bottom: 15px;
}

.resultAdvice {
  font-size: 2.1rem;
  margin-bottom: 15px;
}

.resultContainer button {
  margin: 10px;
  background-color: rgba(124, 140, 153, .5);
  padding: 10px 20px;
}

.resultTitle {
  color: white;
  font-family: 'Press Start 2P', monospace;
  font-size: 3rem;
  letter-spacing: 1.5px;
  line-height: 4.9rem;
  margin: 0 0 20px;
  text-align: center;
  animation: resultFlicker 5s infinite;
}

@keyframes resultFlicker {
  0%, 14%, 16%, 29%, 31%, 49%, 51%, 79%, 81%, 100% {
    text-shadow:
      -0.1rem -0.1em 1rem #49ad0b,
      0.1rem 0.1rem 1rem #49ad0b,
      0 0 2rem #49ad0b,
      0 0 4rem #49ad0b,
      0 0 6rem #49ad0b,
      0 0 8rem #49ad0b,
      0 0 10rem #49ad0b;
  }

  15%, 30%, 50%, 80% {
    text-shadow: none;
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  .resultContainer {
    margin-top: 80px;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    line-height: 2.5rem;
  }

  .resultUserName {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  .resultAdvice {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
}