*{
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
  font-size: 2rem;
}

.wrapper {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

a {
  color: inherit;
}

a:hover{
  outline: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}